
:root{
    --background-color: #fff;
    --item-color: #000;
    --hover-color:rgba(29,161,242,1.00);
    --hover-color-light :rgba(29,161,242,0.1);
}

body{
    margin:0;
    background: var(--background-color);
}

*, *::before,*::after{
    box-sizing: border-box;
}
.main-page{
    display: flex;
    flex-direction: column;
}

.sidemenu{
    /* background: lightcyan; */
    padding-left: 4%;
    width:22%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(141, 139, 139, 0.5);
}


.center-content{
    /* flex-basis: 1 1 40%; */
}
.right-explorer{
    /* flex-basis: 30%; */
}
.icons svg{
    height: 1.5rem;
    width:1.5rem;
}   

.sidemenuitems{
    color: var(--item-color);
    height: 3rem;
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-top: 0.5rem;
}
.sidemenuitems:hover{
    background: var(--hover-color-light);
    border-radius: 2rem;
}

.sidemenuitems:hover> *{
    color: var(--hover-color);
    fill: var(--hover-color);
    cursor: pointer;
}
.fillclr{
    fill: var(--hover-color);
}
.icon-text{
    padding-left:  1.5rem;
    font-size: 1.5rem;
    font-weight: 700;
}
.tweet-sideBar{
    flex-grow: 1;
}

.sidemenu .sidemenuitems:nth-of-type(11){
    margin-top: auto;
}

.tweet-but{
    width:75%;
    height: 2.25rem;
    border-radius: 1rem;
    background: var(--hover-color);
    color: white;
    border : 1px solid var(--hover-color);
}
.profile-pic{
    width: 1.5rem;
    height: 1.5rem;
}

.user-details p{
    margin: 0;
    margin-top: 0.15rem;
    font-weight: 600;
    font-size: 1rem;
}
.profile-more{
    width: 1.25rem;
    height: 1.25rem;
}
.profile-section{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-bottom: 5rem;
   
}
.profile-section:hover>*{
    color: var(--item-color);
    fill: var(--item-color);
}

.sidemenu-l{
    padding-left: 3%;
    width:10%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(141, 139, 139, 0.5);
}

.sidemenu-l .sidemenuitems:nth-of-type(11){
    margin-top: auto;
}
.tweet-l svg{
    fill : white;
    height: 2.5rem;
    width: 2.5rem;
    background: var(--hover-color);
    border: 1px solid var(--hover-color);
    border-radius: 1rem;
}
.pic-alone{
    margin-bottom: 5rem;
}
@media (max-width: 1150px){
    .sidemenu{
        display: none;
    }
    .sidemenu-l{
        display: flex;
    }
}
@media (max-width:750px) {

     .sidemenu{
        display: none;
    }
    .sidemenu-l{
        display: none;
    }
}